- @pendientes, @en_marcha = separar_anuncios
%a{href: new_anunciante_anuncio_path, class: (action_name == "index") ? "pure-button pure-button-primary" : "pure-button"}
  %i.fa.fa-plus
  Nuevo anuncio

.pure-g
  %div{class: action_name == "index" ? "pure-u-1 pure-u-lg-11-24" : "pure-u-1"}
    %h4 Anuncios pendientes
    .cards
      - if @pendientes.empty?
        .card.disabled Aquí no hay nada
      - else
        - @pendientes.each do |a|
          = link_to "#{a.contenido} (#{a.id})", anunciante_anuncio_path(current_anunciante, a), {class: "card"}

  %div{class: action_name == "index" ? "pure-u-1 pure-u-lg-2-24" : "pure-u-1"}

  %div{class: action_name == "index" ? "pure-u-1 pure-u-lg-11-24" : "pure-u-1"}
    %h4 Anuncios puestos en marcha
    .cards
      - if @en_marcha.empty?
        .card.disabled Aquí no hay nada
      - else
        - @en_marcha.each do |a|
          = link_to "#{a.contenido} (#{a.id})", anunciante_anuncio_path(current_anunciante, a), {class: "card"}
