%h1 Nuevo anuncio
%h3
  del anunciante
  = link_to @anunciante.nombre, @anunciante

= form_for [:anunciante, @anuncio], url: anunciante_anuncios_path do |f|
  %p
    = f.label :contenido
    = f.text_field :contenido

  %p
    = f.label :URL
    = f.text_field :URL

  %p
    = f.submit
