%h1
  = render partial: "common/back", locals: {path: anunciante_anuncios_path}
  Anuncio #{@anuncio.id}
%H3
  del anunciante
  = link_to @anunciante.nombre, @anunciante

%h4 Propiedades

%p
  Contenido:
  = @anuncio.contenido
%p
  URL:
  = @anuncio.URL

%h4 Espacios asignados
.cards
  - @anuncio.espacios.each do |e|
    .card
      = link_to "Espacio #{e.id}", [e.medio, e]
      = link_to deallocate_from_anunciante_anuncio_path(id: @anuncio.id, espacio_id: e.id), method: :post, class: "pure-button button-delete" do
        %i.fa.fa-trash
        Eliminar asociación

%h4 Asignar a un espacio
= form_for @anuncio, url: {action: "allocate_to"}, method: :post do |f|
  = select_tag :espacio_id, options_for_select(@available_espacio_pairs)
  = f.submit "Asignar", class: "pure-button pure-button-primary"
