%h1
  = render partial: "common/back", locals: {path: anunciante_anuncios_path}
  Anuncio #{@anuncio.id}
%H3
  del anunciante
  = link_to current_anunciante.nombre, current_anunciante

%p
  = link_to edit_anunciante_anuncio_path, class: "pure-button" do
    %i.fa.fa-pencil
    Editar
  = link_to anunciante_anuncio_path, method: :delete, data: {confirm: "Confirma que quieres borrar el anuncio '#{@anuncio.id}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete" do
    %i.fa.fa-trash
    Eliminar

%h4 Propiedades
%p
  Contenido:
  = @anuncio.contenido
%p
  URL:
  = @anuncio.URL

%h4 Espacios asignados
.cards
  - @anuncio.espacios.each do |e|
    .card
      = link_to deallocate_from_anunciante_anuncio_path(id: @anuncio.id, espacio_id: e.id), method: :delete, class: "pure-button button-delete" do
        %i.fa.fa-times
        Quitar
      = link_to "Espacio #{e.id}", [e.medio, e]
      (#{link_to e.medio.nombre, e.medio})

%h4 Asignar a un espacio
.cards
  - if espacios_permitidos(@anuncio).empty?
    .card.disabled
      No hay espacios disponibles
  - else
    - espacios_permitidos(@anuncio).each_with_index do |e, i|
      .card
        - if @cuentas_audiencias[i] > 0
          .float-right.small.highlight
            = @cuentas_audiencias[i]
            = @cuentas_audiencias[i] > 1 ? "audiencias" : "audiencia"
            en común
            %i.fa.fa-star

        = link_to allocate_to_anunciante_anuncio_path(id: @anuncio.id, espacio_id: e.id), method: :post, class: "pure-button pure-button-primary" do
          %i.fa.fa-plus
          Asignar
        = link_to "Espacio #{e.id}", [e.medio, e]
        (#{link_to e.medio.nombre, e.medio})
