!!! 5
%html
  %head
    %title Aorist
    %link{href: 'https://fonts.googleapis.com/css?family=Roboto', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

  %body
    .wrapper.pure-g
      = render "common/header"
      .pure-u-1-24.pure-u-lg-1-6
      .pure-u-22-24.pure-u-lg-2-3
        = content_for?(:main) ? yield(:main) : yield
      .pure-u-1-24.pure-u-lg-1-6
