%h1 Crear un nuevo anunciante

= form_for :anunciante, url: anunciantes_path do |f|
  %p
    = f.label :nombre
    = f.text_field :nombre

  %p
    = f.label :web
    = f.text_field :web

  %p
    = f.label :fiscales
    = f.text_field :fiscales

  %p
    = f.submit
