%h1
  = render partial: "common/back", locals: {path: anunciantes_path}
  Crear un nuevo anunciante

= form_for :anunciante, url: anunciantes_path, html: {class: "pure-form"} do |f|
  %p
    = f.text_field :nombre, placeholder: "Nombre"

  %p
    = f.text_field :web, placeholder: "Web"

  %p
    = f.text_field :fiscales, placeholder: "Datos fiscales"

  %p
    = f.submit "Crear anunciante", class: "pure-button pure-button-primary"
