%h1
  = render partial: "common/back", locals: {path: anunciantes_path}
  = @anunciante.nombre

%p
  = link_to anunciante_anuncios_path(@anunciante), {class: "pure-button"} do
    %i.fa.fa-shopping-bag
    Anuncios (#{@anunciante.anuncios.count})

  = link_to anunciante_path(@anunciante), method: :delete, data: {confirm: "Confirma que quieres borrar el anunciante '#{@anunciante.nombre}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete" do
    %i.fa.fa-trash
    Eliminar

%p
  = @anunciante.web

%p
  = @anunciante.fiscales

%h4 Audiencias asociadas
.cards
  - @anunciante.audiences.each do |a|
    .card
      = link_to dissociate_audience_anunciante_path(@anunciante, a), method: :delete, class: "pure-button button-delete" do
        %i.fa.fa-times
        Quitar
      = link_to a.nombre, @audience

%h4 Asociar nuevas audiencias
.cards
  - @audiences_asociables.each do |a|
    .card
      = link_to associate_audience_anunciante_path(@anunciante, a), method: :post, class: "pure-button pure-button-primary" do
        %i.fa.fa-plus
        Asociar
      = link_to a.nombre, @audience
