%h1
  = render partial: "common/back", locals: {path: anunciante_contratos_path}
  Contrato #{@contrato.id}

%p

  = link_to anunciante_contrato_path(@anunciante, @contrato), method: :delete, data: {confirm: "Confirma que quieres borrar el contrato '#{@contrato.id}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete" do
    %i.fa.fa-trash
    Eliminar

%p
  = @contrato.descripcion

%p
  = @contrato.fecha

%p
  = @contrato.duracion

%p
  = @contrato.importe

%h4 Realizar un cobro
= form_for [@anunciante, @contrato, @cobro], url: anunciante_contrato_cobros_path(contrato_id: @contrato.id), method: :post do |f|
  = f.label :importe, "Importe"
  = f.number_field :importe, min: 0, value: 0
  = f.date_select :fecha
  = f.submit "Realizar cobro"

%h4 Cobros realizados
.cards
  - @contrato.cobros.each do |c|
    .card
      %strong= c.importe
      €
      %span.count= c.fecha
