%h1
  = render partial: "common/back", locals: {path: anunciante_contratos_path}
  Contrato #{@contrato.id}

%h4 Datos
%p
  Descripción:
  = @contrato.descripcion

%p
  Fecha de inicio:
  = @contrato.fecha

%p
  Fecha de fin:
  = @contrato.duracion

%p
  Importe:
  = @contrato.importe

%h4 Realizar un cobro
= form_for [@anunciante, @contrato, @cobro], url: anunciante_contrato_cobros_path(contrato_id: @contrato.id), method: :post do |f|
  = f.label :importe, "Importe"
  = f.number_field :importe, min: 0, value: 0
  = f.date_select :fecha
  = f.submit "Realizar cobro"

%h4 Cobros realizados
.cards
  - @contrato.cobros.each do |c|
    .card
      %strong= c.importe
      €
      %span.count= c.fecha
