%h1
  = render partial: "common/back", locals: {path: medios_path}
  Crear un nuevo medio

= form_for :medio, url: medios_path, html: {class: "pure-form"} do |f|
  %p
    = f.text_field :nombre, placeholder: "Nombre"

  %p
    = f.text_field :web, placeholder: "Web"

  %p
    = f.text_field :fiscales, placeholder: "Datos fiscales"

  %p
    = f.submit "Crear medio", class: "pure-button pure-button-primary"
