%h1
  = render partial: "common/back", locals: {path: medio_contratos_path}
  Contrato #{@contrato.id}

%p

  = link_to medio_contrato_path(@medio, @contrato), method: :delete, data: {confirm: "Confirma que quieres borrar el contrato '#{@contrato.id}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete" do
    %i.fa.fa-trash
    Eliminar

%p
  = @contrato.fecha

%p
  = @contrato.duracion

%p
  = @contrato.importe

%h4 Realizar un pago
= form_for [@medio, @contrato, @pago], url: medio_contrato_pagos_path(contrato_id: @contrato.id), method: :post do |f|
  = f.label :importe, "Importe"
  = f.number_field :importe, min: 0, value: 0
  = f.date_select :fecha
  = f.submit "Realizar pago"

%h4 Pago realizados
.cards
  - @contrato.pagos.each do |p|
    .card
      %strong.in-red #{p.importe} €
      %span.count= p.fecha
