%h1
  = render partial: "common/back", locals: {path: medio_contratos_path}
  Contrato #{@contrato.id}

%h4 Datos
%p
  Descripción:
  = @contrato.descripcion

%p
  Fecha de inicio:
  = @contrato.fecha

%p
  Fecha de fin:
  = @contrato.duracion

%p
  Importe:
  = @contrato.importe

%h4 Realizar un pago
- unless params[:error].nil?
  .cards
    .card.disabled
      %i.fa.fa-times
      Se produjo un error al realizar el pago:
      = params[:error]
= form_for [@medio, @contrato, @pago], url: medio_contrato_pagos_path(contrato_id: @contrato.id), method: :post, html: {class: "pure-form"} do |f|
  = f.number_field :importe, min: 0, placeholder: "Importe"
  = f.date_select :fecha
  = f.submit "Realizar pago", class: "pure-button pure-button-primary"

%h4 Pagos realizados
.cards
  - @contrato.pagos.each do |p|
    .card
      %strong.in-red #{p.importe} €
      %span.count= p.fecha
