%h1 Contabilidad
%h2 Balance
.cards.cards-table
  .pure-g
    .cards-col.pure-u-1.pure-u-lg-2-3
      .card.flush-right
        %span.big Total:
        %span{class: (@balance_total < 0) ? "in-red super-big" : "super-big"} #{@balance_total} €
    .cards-col.pure-u-1.pure-u-lg-1-3
      .card
        Total cobros:
        %strong #{@balance_positivo} €
      .card
        Total pagos:
        %strong.in-red #{@balance_negativo} €
%h2 Detalles

= link_to "Ordenar por fecha", {order: :date}, class: "pure-button"
= link_to "Ordenar por importe", {order: :amount}, class: "pure-button"
= link_to "Agrupar por contrato", {order: :contract}, class: "pure-button"
= link_to "Agrupar por empresa", {order: :owner}, class: "pure-button"


.pure-g
  .pure-u-1.pure-u-lg-11-24
    %h4 Todos los cobros
    .cards
      - @cobros.each do |cobro|
        .card
          %strong= cobro.importe
          €
          %span.count= cobro.fecha
          %span.count (Contrato #{cobro.anunciante_contrato.id} - #{cobro.anunciante_contrato.anunciante.nombre})

  .pure-u-1.pure-u-lg-2-24
  .pure-u-1.pure-u-lg-11-24
    %h4 Todos los pagos
    .cards
      - @pagos.each do |pago|
        .card
          %strong.in-red #{pago.importe} €
          %span.count= pago.fecha
          %span.count (Contrato #{pago.medio_contrato.id} - #{pago.medio_contrato.medio.nombre})
