%h1
  = render partial: "common/back", locals: {path: audiences_path}
  Crear una nueva audiencia

= form_for :audience, url: audiences_path, html: {class: "pure-form"} do |f|
  %p
    = f.text_field :nombre, placeholder: "Nombre"

  %p
    = f.text_area :descripcion, placeholder: "Descripción"

  %p
    = f.submit "Crear audiencia", class: "pure-button pure-button-primary"
