%h1
  = render partial: "common/back", locals: {path: audiences_path}
  = @audience.nombre

%p
  = @audience.descripcion

%p
  = link_to "Eliminar", audience_path(@audience), method: :delete, data: {confirm: "Confirma que quieres borrar la audiencia '#{@audience.nombre}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete"
