%h1
  = render partial: "common/back", locals: {path: medio_espacios_path}
  Espacio #{@espacio.id}
%h3
  del medio
  = link_to @medio.nombre, @medio

%p
  = link_to medio_espacio_path, method: :delete, data: {confirm: "Confirma que quieres borrar el espacio '#{@espacio.id}'. Esta acción no se puede deshacer"}, class: "pure-button button-delete" do
    %i.fa.fa-trash
    Eliminar

%h4 Dimensiones
%ul
  %li Ancho: #{@espacio.ancho}
  %li Alto: #{@espacio.alto}

%h4 Propiedades
%ul
  %li
    - if @espacio.multimedia
      Puede
    - else
      No puede
    almacenar contenido audiovisual.
  %li
    - if @espacio.enlace
      Puede
    - else
      No puede
    enlazar a un sitio web.
